-- Weather Observation Station 4

SELECT COUNT(CITY) - COUNT(DISTINCT(CITY))
FROM STATION;

-- 동명 동물 수 찾기

SELECT NAME, COUNT(NAME)
FROM ANIMAL_INS
WHERE NAME IS NOT NULL
GROUP BY NAME
HAVING COUNT(NAME) >= 2
ORDER BY NAME ASC;